/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.php_cs.cache
.phpunit.result.cache
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
.idea/
.vscode/
/public/css/filament
/public/js/filament
/public/js/ariaieboy
/public/css/solution-forest
/public/js/solution-forest
/public/media
/storage/media-library